body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.easteregg {
  -webkit-animation: easter 3s ease-in-out infinite;
          animation: easter 3s ease-in-out infinite;
  -webkit-transform: translate(-10vw, 10vw);
          transform: translate(-10vw, 10vw);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

@-webkit-keyframes easter {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translate(-10vw, 10vh);
            transform: rotate(0deg) scale(1) translate(-10vw, 10vh);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5) translate(10vw, -10vh);
            transform: rotate(180deg) scale(0.5) translate(10vw, -10vh);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1) translate(-10vw, 10vh);
            transform: rotate(360deg) scale(1) translate(-10vw, 10vh);
  }
}

@keyframes easter {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translate(-10vw, 10vh);
            transform: rotate(0deg) scale(1) translate(-10vw, 10vh);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5) translate(10vw, -10vh);
            transform: rotate(180deg) scale(0.5) translate(10vw, -10vh);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1) translate(-10vw, 10vh);
            transform: rotate(360deg) scale(1) translate(-10vw, 10vh);
  }
}

.content {
  width: 50%;
  height: 50vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #fff5;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content .item {
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .item span {
  margin-left: 10px;
  font-weight: 800;
}

.content .item input, .content .item textarea {
  border-radius: 15px;
}

.content .itemTitle .title {
  font-weight: 800;
  font-size: 25px;
  margin: 0px 25px;
}

.content .itemDesc textarea {
  height: 100%;
}

.content .itemValid button {
  position: relative;
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  font-weight: 800;
}

.content .itemValid button::before {
  position: absolute;
  content: 'VALIDER';
  font-weight: 800;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.content .itemValid button::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: red;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.content .itemValid button:hover::before {
  color: white;
}

.content .itemValid button:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.content .itemInfo p {
  margin: 0;
  text-align: center;
  font-weight: 800;
}

input, textarea {
  outline: 0;
  border: 0;
  padding: 10px 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
