.question {
  padding: 10px;
}
.question .item {
  padding: 10px 0;
}
.question .item .answer {
  margin: 5px 0;
  font-weight: 800;
}
.question .item .responses .response {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.question .item .responses .response label {
  margin: 5px 10px;
  color: white;
}
.question .item .responses .response input {
  appearance: none;
  width: 40px;
  height: 20px;
  position: relative;
  transition: transform 0.8s ease-in-out;
  --color: white;
}
.question .item .responses .response input::before {
  position: absolute;
  box-sizing: border-box;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid var(--color);
  border-radius: 99em;
  transition: 0.4s;
}
.question .item .responses .response input::after {
  position: absolute;
  content: "";
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background: var(--color);
  transition: 0.4s;
  border-radius: 50%;
}
.question .item .responses .response input:checked {
  transform: rotate(360deg);
}
.question .item .responses .response input:checked::before {
  background-color: var(--color);
}
.question .item .responses .response input:checked::after {
  background-color: black;
  animation: switch 0.4s ease-in-out forwards;
  animation-delay: 0.7s;
}

@keyframes switch {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}
.end {
  margin: 5px 25px;
  font-weight: 800;
}

.valid, .restart {
  margin: 10px 25px;
  padding: 10px 20px;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  background-color: white;
}
.valid::after, .restart::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: blue;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.4s ease-in-out;
}
.valid::before, .restart::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: color 0.4s;
}
.valid:hover::after, .restart:hover::after {
  transform: scaleX(1);
}
.valid:hover::before, .restart:hover::before {
  color: white;
}

.valid::before {
  content: "Valider";
}

.restart::before {
  content: "Recommencer";
}
