@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #203239;
  overflow-x: hidden;
}

p, a {
  color: white;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  font-family: 'Montserrat', sans-serif;
}
